<!DOCTYPE html>
<meta http-equiv="refresh" content="{{interval_web_refresh}}">
<html>
<head lang="en">
<meta charset="UTF-8">
<title></title>
<link href="{{ url_for('static',filename='bootstrap.css') }}"
	rel="stylesheet" type="text/css" />
<script src="{{ url_for('static',filename='JQuery.js') }}"></script>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



	<div class="container">

		<div class="row clearfix">
			<div class="col-md-12 column">

				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand">Loxoll</a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">其他<b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li ><a href="javascript:void(0)" onclick="Ey()" id="Ey" >邮件连接测试</a></li>
									<li class="divider"></li>
									<li><a href="#">关闭交换机监控</a></li>
									<li><a href="#">开启交换机监控</a></li>
								</ul></li>
						</ul>
					</div>
				</nav>


				{% if status_warning %}
				<div class="alert alert-warning">
					<a href="{{ url_for('warning') }}" target="" class="close"
						data-dismiss="alert"> Check the details </a> <strong>Warning!</strong>Appear
					error messages, please deal with it immediately.
				</div>
				{% endif %}

				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table">
							<thead>
								<tr>
									<th>
										<h3 class="text-left text-info">Engine Status</h3>
									</th>
									<th>
										<h4>Last Update:&nbsp; {{ tlu_haap }}</h4>
									</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-12 column">
						{% if status_haap %}
						<table class="table" id="engine">
							<thead>
								<tr>
									{% for tielehaap in Title_HAAP %}
									<th>{{tielehaap}}</th> {% endfor %}
								</tr>
							</thead>
							<tbody>
								{% for engine in status_haap %} {% if engine[-1]==0 %}
								<tr class="success">
									{% for status in engine[:-1] %}
									<td>{{ status }}</td> {% endfor %}

									<td><button type="button" class="btn btn-default btn-xs"
											value="{{engine[1]}}">Trace</button></td>
								</tr>
								{% elif engine[-1]==1 %}
								<tr class="warning">
									{% for status in engine[:-1] %}
									<td>{{ status }}</td> {% endfor %}
									<td><button type="button" class="btn btn-default btn-xs"
											value="{{engine[1]}}">Trace</button></td>
								</tr>

								{% elif engine[-1]==2 %}
								<tr class="danger">
									{% for status in engine[:-1] %}
									<td>{{ status}}</td> {% endfor %}
									<td><button type="button" class="btn btn-default btn-xs"
											value="{{engine[1]}}">Trace</button></td>
								</tr>
								{% endif %} {% endfor %}
							</tbody>
						</table>
						{% else %}
						<p>No Data to Show...</p>
						{% endif %}
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table">
							<thead>
								<tr>
									<th>
										<h3 class="text-left text-info">Switch Status</h3>
									</th>
									<th>
										<h4>Last Update:&nbsp; {{ tlu_sansw }}</h4>
									</th>

								</tr>
							</thead>
						</table>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-md-12 column">
						{% if status_sansw %}
						<table class="table">
							<thead>
								<tr>
									{% for titlesansw in Title_SANSW %}
									<th>{{ titlesansw }}</th> {% endfor %}
								</tr>
							</thead>
							<tbody>
								{% for sw in status_sansw %} {% if sw[-1] == 0 %}
								<tr class="success">
									{% for status in sw[:-1] %}
									<td>{{ status }}</td> {% endfor %}
								</tr>
								{% elif sw[-1]==1 %}
								<tr class="warning">
									{% for status in sw[:-1] %}
									<td>{{ status}}</td> {% endfor %}
								</tr>
								{% elif sw[-1]==2 %}
								<tr class="danger">
									{% for status in sw[:-1] %}
									<td>{{ status }}</td> {% endfor %}
								</tr>
								{% endif %} {% endfor %}
							</tbody>
						</table>
						{% else %}
						<p>No Data to Show...</p>
						{% endif %}
					</div>
				</div>

				<div class="progress progress-striped">
					<div class="progress-bar progress-success"></div>
				</div>
				<p>
					Engine Status shows that Status & Uptime of every engine.<br>
					Mirror Alarm means that one or more mirror degrade or rebuilding;
					Path Warning means that one or more path of drive（or engine）
					missing.<br> Color Description：
				</p>
				<table class="table">
					<thead>
						<tr>
							<th class="success">Green</th>
							<th class="danger">Red</th>
							<th class="warning">Yellow</th>
						</tr>
					</thead>
					<tbody>
						<tr class="info">
							<td>Normal</td>
							<td>Alarm</td>
							<td>Warning</td>
						</tr>
					</tbody>
				</table>
				<div class="progress progress-striped">
					<div class="progress-bar progress-success"></div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">Copyright © Loxoll</p>
		</div>
	</footer>

	<script type="text/javascript">
$("#Ey").attr("value")	
	
$(document).ready(function(){ 																					
 $(".btn").click(function(){ 
 var trace = $(this).val()
 alert("已獲取trace於文件夾中");		
    	 $.ajax({
         url:"/",
         type:"GET",
         data:{
             trace:trace,
         },
         success:function () {
			}																																																																																																																																			
	});
 }); 
}); 

function Ey(){
var ey = $("#Ey").text()
 $.ajax({
         url:"/send_email",
         type:"GET",
           data:{
             ey:ey
         },
         success:function (data) {
			}																																																																																																																																			
	});
}

</script>
</body>
</html>
